apiVersion: v1
kind: Service
metadata:
  annotations:
{% if esphome_ip is defined %}
    metallb.universe.tf/address-pool: esphome_ip
{% else %}
    metallb.universe.tf/address-pool: default
{% endif %}
  name: esphome-web
  namespace: home-assistant
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: esphome
    app.kubernetes.io/instance: esphome
  ports:
    - port: 80
      targetPort: 6052
