apiVersion: v1
kind: Service
metadata:
  annotations:
{% if ha_ip is defined %}
    metallb.universe.tf/loadBalancerIPs: {{ ha_ip }}
{% else %}
    metallb.universe.tf/address-pool: default
{% endif %}    
  name: home-assistant-web
  namespace: home-assistant
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: home-assistant
    app.kubernetes.io/instance: home-assistant
  ports:
    - port: 80
      targetPort: 8123
