apiVersion: v1
kind: Service
metadata:
  annotations:
{% if grafana_ip is defined %}
    metallb.universe.tf/address-pool: grafana_ip
{% else %}
    metallb.universe.tf/address-pool: default
{% endif %}
  name: grafana-web
  namespace: monitoring
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/instance: prometheus
    app.kubernetes.io/name: grafana
  ports:
    - port: 80
      targetPort: 3000
