apiVersion: v1
kind: Service
metadata:
  annotations:
{% if prometheus_ip is defined %}
    metallb.universe.tf/loadBalancerIPs: {{ prometheus_ip }}
{% endif %}
  name: prometheus-web
  namespace: monitoring
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: prometheus
  ports:
    - port: 80
      targetPort: 9090
