serviceMonitor:
  enabled: true
  namespace: monitoring
  selector:
    release: prometheus
  params: {{ snmp_targets | dict2items(key_name='name', value_name='target')  }}
  path: /snmp
  scrapeTimeout: 10s
  module:
    - if_mib
