apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "home-assistant"
  name: "esphome-pvc"
  annotations:
    volume.beta.kubernetes.io/storage-class: nfs-client
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "100Mi"
