image:
  repository: linuxserver/plex
  tag: latest
  pullPolicy: IfNotPresent

env:
  PLEX_CLAIM: {{ plex_claim_token }}
  TZ: {{ plex_timezone }}
  ADVERTISE_IP: {{ plex_ip }}
  ALLOWED_NETWORKS: {{ plex_allowed_networks }}

service:
  main:
    primary: true
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: plex_ip
      metallb.universe.tf/allow-shared-ip: plex_ip
    ports:
      http:
        port: 32400

persistence:
  data:
    enabled: true
    existingClaim: "plex-data-pvc"
  config:
    enabled: true
    existingClaim: "plex-config-pvc"

# -- Enable devices to be discoverable
hostNetwork: true

resources: {}
podAnnotations: {}
