image:
  repository: linuxserver/plex
  tag: latest
  pullPolicy: IfNotPresent

env:
  PLEX_CLAIM: {{ plex_claim_token }}
  TZ: {{ plex_timezone }}

service:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/allow-shared-ip: plex-svc
  additionalServices:
   - enabled: true
     nameSuffix: dnla-tcp
     type: LoadBalancer
     annotations:
       metallb.universe.tf/allow-shared-ip: plex-svc
     port:
       port: 32469
       name: dnla-tcp
       protocol: TCP
       targetPort: 32469
  #   externalTrafficPolicy: Local
   - enabled: true
     nameSuffix: dnla-udp
     type: LoadBalancer
     annotations:
       metallb.universe.tf/allow-shared-ip: plex-svc
     port:
       port: 1900
       name: dnla-udp
       protocol: UDP
       targetPort: 1900
  #   externalTrafficPolicy: Local

# nodeSelector:
#   beta.kubernetes.io/arch: arm

persistence:
  data:
    enabled: true
    existingClaim: "plex-data-pvc"
  config:
    enabled: true
    existingClaim: "plex-config-pvc"

# -- Enable devices to be discoverable
hostNetwork: true

resources: {}
podAnnotations: {}
proxy:
  enable: false
