apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "minio"
  name: "minio-pvc"
  annotations:
    volume.beta.kubernetes.io/storage-class: nfs-client
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "10Gi"
