apiVersion: v1
kind: Service
metadata:
  annotations:
{% if vaultwarden_ip is defined %}
    metallb.universe.tf/loadBalancerIPs: {{ vaultwarden_ip }}
{% endif %}    
  name: vaultwarden-web
  namespace: vaultwarden
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: vaultwarden
    app.kubernetes.io/instance: vaultwarden
  ports:
    - port: 80
      targetPort: 80
